# 虛擬環境資料夾
bin/
include/
lib/
pyvenv.cfg
.venv/
venv/

# Python 編譯快取
__pycache__/
*.py[cod]

# 作業系統暫存檔
.DS_Store

output*
主題圖片/
主題影片/
bg_mp3/short/
data/*.pptx

# 書籍資料夾 (如 130_..., 140_..., B140_...)
[0-9][0-9][0-9]_*/
B[0-9][0-9][0-9]_*/
1[0-9][0-9]_*/
[0-9][0-9][0-9]-*/
B[0-9][0-9][0-9]-*/
1[0-9][0-9]-*/

# 影片、語音與圖片檔案
*.mp4
*.mp3
*.wav
*.png
*.jpg
*.jpeg
*.webp
temp.jpg

# 排除不需要上傳的目錄
backup/
scratch/
test/
temp/
bg_mp3/
data/

# 允許追蹤特定的設定檔與模板
!00_new_poject_template/
!00_new_poject_template/**/
!00_new_poject_template/photo/*.png
!00_new_poject_template/photo/*.jpeg
!data/*.ttf
!bg_mp3/*.txt

