# 虛擬環境資料夾
bin/
include/
lib/
pyvenv.cfg
.venv/
venv/

# Python 編譯快取
__pycache__/
*.py[cod]

# 作業系統暫存檔
.DS_Store

output*
主題圖片/
主題影片/
bg_mp3/short/
data/*.pptx

12*/
126_20260226_關於恐龍你所不知道的十件事/
127_20260310_量子之谜_当物理学遭遇意识/
backup/

